.italic {
  font-style: italic;
  color: grey;
  padding-left: '20px'
}
.searchValue {
  font-size: 25;
  color: red;
  padding-left: '25px'
}
.table {
  min-width: 850
}
.homeImage {
  padding-left: 400;
  width: 300;
  height: 200
}
.padding1 {
  font-size: 15,;
  padding-left: 150
}
.padding2 {
  font-size: 15;
  padding-left: 250
}